.DS_Store
node_modules
npm-debug.log
pnpm-debug.log
*.pem
!mock-cert.pem
.env
coverage
/lib

boxy_notebook.json
boxy_reviews.json
boxy_sticky_notes.json
boxy_todo_list.json
boxy_revert_pending.json
boxy_containers.json
boxy_error_log.txt